@font-face {
  font-family: "Tahoma";
  src: url("@/assets/fonts/Tahoma/tahoma.ttf"), local("Tahoma");
}

@font-face {
  font-family: "Half Life 2";
  src: url("@/assets/fonts/Half Life 2/halflife2.ttf"), local("Times New Roman");
}
